body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #00ffab;
  /*background-color: #ffffff;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.first-form,
.second-form {
  margin-bottom: 10px;
}
.task-input,
.date-input,
.add-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.task-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-input {
  max-width: 300px;
}

.add-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.task-name {
  font-weight: bold;
  padding-right: 15px;
  padding-bottom: 5px;
}

.task-due-date {
  color: #555;
}

.delete-button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 872px) {
  .task-form {
    flex-direction: column;
    align-items: center;
  }

  .task-input,
  .date-input,
  .add-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .task {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 20px !important;
  }
  .App {
    padding: 10px;
  }

  .task-input,
  .date-input,
  .add-button {
    padding: 8px;
    font-size: 14px;
  }

  .task {
    padding: 8px;
    font-size: 14px;
  }
}
